* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5900;
}

header h1 {
  margin: 0;
}

header a {
  color: white;
  text-decoration: none;
}

section {
  margin: 2rem auto;
  max-width: 30rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input, 
textarea {
  font: inherit;
  display: block;
  width: 100%;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  border-color: #ff5900;
  outline: none;
  background-color: #ffe6ff;
}

button {
  cursor: pointer;
  font: inherit;
  border: 1px solid #ff5900;
  background-color: #ff5900;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
}